.right-card {
    width: 420px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 15px;
    margin-bottom: 8px;
    line-height: 25px;
    opacity: 1;
    animation: fades 0.3s ease-in;
}


@keyframes fades {
    0% {
        opacity: 0;

    } 
    100% {
        opacity: 1

    }
}

.right-check {
    color: #5cb85c;
    margin-right: 6px;
}

.french-right-answer {
    color: #5cb85c;
    font-size: 15px;
    font-weight: 500;
    margin-left: 6px;
    letter-spacing: 1px;
    text-shadow: 2px 2px black;
}

@media screen and (max-width: 600px) {
    .right-card {
        width: 330px;
        margin-top: 60px;
    }
}