.sentences {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sentence-heading {
    font-size: 20px;
    letter-spacing: 0.2px;
}

.sentence {
    margin-top: 30px;
}

.answer-box {
    margin: 40px 0px 0px 0px;
    width: 400px;
    min-height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.right-message, .wrong-message {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    height: 40px;
    margin-bottom: -10px;
}

.placeholder-sent {
    margin-top: 40px;
    height: 40px;
    margin-bottom: -10px;
}

.right-message p, .wrong-message p {
    font-size: 18px;
}

.right-icon, .wrong-icon {
    font-size: 30px;
    color: #5cb85c;
}

.wrong-icon {
    color: red;
}

.word {
    padding: 4px 6px;
    background-color: lavender;
    color: black;
    border: 2px dotted lightgray;
    margin: 0px 5px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.correct-btn, .next-word-btn {
    background-color: #5cb85c;
    color: white;
    padding: 5px 7px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 0px;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 120px;
    height: 35px;
    justify-content: center;
    margin-bottom: 20px;
}

.correct-btn:active, .next-word-btn:active {
    transform: translateY(3px)
}

.next-word-btn {
    background-color: rgb(202, 149, 49);
    color: white;
}

.check-area {
    margin-top: 20px;
    width: 390px;
    height: 70px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 6px;
    border-bottom: 1px solid white;
}

.game-over-card {
    width: 360px;
    height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}


.hide {
    visibility: hidden;
    height: 0px;
}