
.match-start {
    margin-top: 80px;
    width: 330px;
    height: 200px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 50%;
    margin-left: -165px;
}

.match-headline {
    margin-top: 20px;
    letter-spacing: 1px;
    text-shadow: 3px 3px black;
}

.match-text {
    width: 230px;
    text-align: center;
    margin-top: 20px;
}


.button-start {
    width: 110px;
    height: 32px;   
    background: rgb(63, 63, 216);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top:30px;
    letter-spacing: 1px;
    font-size: 16px;
    text-shadow: 2px 2px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.button-start:active {
    transform: translateY(3px);
}

.match-container {
    width: 380px;
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

.outer-match-box {
    width: 130px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.match-card {
    width: 140px;
    height: 62px;
    font-size: 17px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(63, 63, 216);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.green {
    border: 3px solid yellowgreen;
}

.red {
    border: 3px solid red;
}


#fadeaway {
    opacity: 0.3;
    cursor: unset;
    animation: fade 900ms linear;
}

@keyframes fade {
    0% {
        opacity: 1;
        border: 3px solid yellowgreen;
    }
    100% {
        opacity: 0.3;
        border: 2px solid rgba(255, 255, 255, 0.2);
    }
}


@media screen and (max-width: 600px) {
    .match-container {
    width: 340px;
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
}

.match-card {
    width: 180px;
    height: 65px;
    font-size: 18px;
}
}