.button-start {
    width: 120px;
    height: 30px;
    background-color: rgb(236, 98, 121);
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top:20px
}

.buttun-start:active {
    transform: translateY(3px);
}

.match-container {
    width: 380px;
    display: flex;
    justify-content: space-around;
}

.outer-match-box {
    width: 130px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.match-card {
    width: 110px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(63, 63, 216);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.green {
    border: 3px solid yellowgreen;
}


#fadeaway {
    opacity: 0.3;
    cursor:unset;
}