.alternatives {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid white;
    font-size: 20px;
    border: 1px solid white;
}

.click-instructions {
    position: absolute;
    bottom: 6%;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    display: flex;
    justify-content: center;
}