.overview {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.overview-heading {
    position: fixed;
    top: 12%;
    left: 50%;
    margin-left: -100px;
    font-size: 20px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chapters {
    position: fixed;
    top: 25%;
    display: flex;

}

.overview ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0px 20px;
}

.list-item, .list-item-2 {
    width: 90px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.list-item-2 {
    width: 300px;
}

.specials-container {
    width: 600px;
    position: absolute;
    left: 50%;
    margin-left: -300px;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-row, .second-row {
    display: flex;
    justify-content: center;
    width: 600px;
}

.first-row {
    margin-bottom: 20px;
}

.specials{
    width: 270px;
    padding-left: 80px;
    background-image: linear-gradient(rgb(68, 68, 195), midnightblue);
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.specials:active {
    transform: translateY(2px);
}

.specials:hover {
    opacity: 0.6;    
}

.credits {
    position: fixed;    
    bottom: 2%;
    left: 4%;
    color: white;
    font-size: 9px;
}

.credits a {
    color: white;
}

.spec {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
}

.overview-icon {
    font-size: 22px;
    margin-right: 15px;
}

.invisible {
    opacity: 0;
}


@media screen and (max-width: 600px) {
  .overview {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    align-self: flex-start;
    padding-top: 0px;
}
    .list-item {
        font-size: 22px;
    }

    .overview-heading {
        font-size: 22px;
    }
    .overview-heading {
        top: 8%;
    }
    .chapters {
        top: 21%;
    }

    .specials {
        bottom: 22%;
    }
    
.specials-2 {
    bottom: 13%;
}
.specials-3 {
    bottom: 4%;
}


}
