.verb-table {
    padding-top: 10px;
    width: 600px;
    min-height: 200px;
    border: 5px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 6px;
    position: absolute;
    top: 4%;
    left: 50%;
    margin-left: -300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.row {
    margin-bottom: 18px;
}
.headline-text {
    font-size: 18px;
    margin-bottom: 10px;
}

.holder {
    display: flex;
    justify-content: center;
    align-items: center;

}

.inner-box {
    display: flex;
    align-items: center;
    justify-content: center;
}




.verb-item {
    width: 100px;
    height: 50px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  

}

.verbs {
    width: 600px;
    height: 140px;
    position: absolute;
    bottom: 8%;
    left: 50%;
    margin-left: -300px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}