.go-back {
    color: white;
    background-color: transparent;
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    top: 1%;
    left: 38%;
    padding: 5px 10px;
    font-size: 20px;
    letter-spacing: 0.3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
}


.go-back:hover {
    opacity: 0.6;
}

@media screen and (max-width: 600px) {
    .go-back {
        left: 13%;
        top: 5%;
        font-size: 20px;
    }
}


