.go-back {
    background-color: midnightblue;
    color: white;
    border: none;
    width: 90px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 1%;
    left: 38%;
    padding: 5px 10px;
    font-size: 18px;
}

.go-back:active {
    transform: translateY(2px);
}