.card {
    width: 330px;
    height: 210px;
    border-radius: 8px;
    background: midnightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 12px;
    text-align: center;    
}

.card-back {
    background: midnightblue;
}
