.spell {
    position: fixed;
    top: 15%; 
}

.outer-container {
    width: 420px;
    height: 260px;
    padding: 20px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.french-input-wrapper, .swedish-input-wrapper {
    height: 32px;
    border: 2px solid #b5b3b3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0px;
    border-radius: 5px;
 
}

.french-flag, .swedish-flag {
    width: 40px;
    height: 32px;
    background-color: #eeeeee;
    border: 1px solid #b5b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-container input {
    font-size: 16px;
    padding-left: 8px;
    background-color: whitesmoke;
    height: 32px;
    width: 300px;
    border: none;
    outline: none;
    letter-spacing: 0.5px;
}

.fake-input {
    width: 300px;
    height: 32px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    padding-left: 8px;
    background-color: whitesmoke;
}

.french-flag-img, .swedish-flag-img {
    width: 20px;
    object-fit: contain;
}

.buttons {
    width: 330px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 5px;
}

.buttons button {
    background-color: #eeeeee;
    width: 25px;
    padding: 2px 5px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    margin-right: 3px;
}

.shift {
    width: 45px !important;
}

.check {
    font-size: 24px;
    margin-left: 4px;
}

.answer-btn {
    background-color: #5cb85c;
    color: white;
    width: 90px;
    height: 35px;
    border: none;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 14px;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-btn:active {
    transform: translateY(3px);
}

.placeholder {
    height: 90px;
    margin-bottom: 8px;
}

@media screen and (max-width: 460px) {
    .spell {
       position: fixed;
       top: 15%; 
    }
    .outer-container {
        box-shadow: none;
        width: 375px;
        padding: 0px;
    }

    .french-input-wrapper, .swedish-input-wrapper {
        height: 35px;
        width: 310px;
    }

    .fake-input {
        width: 310px;
        height: 35px;
        font-size: 18px;
        border-radius: 5px;
    }
    .input-container input {
        font-size: 18px;
        height: 35px;
        width: 310px;
        border-radius: 5px;
    }

    .french-input-wrapper, .swedish-input-wrapper {
        height: 35px;
    }

    .buttons {
        width: 310px;
        margin-top: 3px;
     
    }

    .buttons button {
        background-color: #eeeeee;
        width: 35px;
        padding: 2px 4px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 17px;
        margin-bottom: 7px;
        margin-right: 4px;
        color: black;
    }

    input {
        transition-delay: 0.3s;
    }

    .answer-btn {
        margin-top: 10px;
    }

}
