.carousel {
  margin-top: 80px;
  position: fixed;
  top: 14%;
}

.splide {
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
}

 .splide__arrow {
    font-size: 22px; 
    color: #fff; 
    background-color: rgb(0, 0, 0,);
    margin-top: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .splide__arrow--prev {
    left: 50px !important; 
  }

  .splide__arrow--next {
    right: 50px !important; 
  } 

  .slide-indicator {
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px black;
  }

  @media screen and (max-width: 600px) {
  .slide-indicator {
    margin-top: 0px;
  }
  }

 
