.wrong-card {
    width: 420px;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 32px;
    margin: 10px 0px;
    line-height: 25px;
    animation: wrongfade 0.3s ease-in;
}

@keyframes wrongfade {
    0% {
        opacity: 0;

    } 
    100% {
        opacity: 1

    }
}

#wrong {
    margin-right: 10px;
    font-weight: 400;
    margin-bottom: 5px;
}

.wrong-card p span {
    margin: 0px 5px;
    font-weight: 600;
}

.error {
    color: red;
    font-size: 18px;
    margin-right: 2px;
}

@media screen and (max-width: 600px) {
    .wrong-card {
        height: 90px;
        width: 330px;
        margin-top: 0px;
        justify-content: flex-end;
        margin-bottom: -34px;

    }
}


