.finished {
width: 420px;
min-height: 300px;  
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.finished-heading {
    font-size: 20px;
    letter-spacing: 0.2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkmark {
    font-size: 28px;
    margin-right: 5px;
    color: #5cb85c;
}

.try-again-buttons {
    margin-top: 25px;
}

.try-again-buttons button {
    border: none;
    font-size: 16px;
    padding: 6px 12px;
    margin: 0px 4px;
    border-radius: 5px;
    background-color: rgb(195, 195, 244);
    color: black;
    cursor: pointer;
}

.try-again-buttons button:hover {
    opacity: 0.7;
}

.try-again-buttons button:active {
    transform: translateY(3px);
}

.redo-icon {
    font-size: 12px;
    margin-right: 5px;
}

.cube-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 0px;
}

.statistics {
    width: 180px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-top: 15px;
}

.red-cube {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color:red;
    margin-right: 8px;
}

.green-cube {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    background-color: #5cb85c;
    margin-right: 8px;
}